<%= form_for @post do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <% if @post.errors.any? %>
  <%= @post.errors.messages[:title][0]  %>
  <% end %>
</p>
<p>
  <%= f.label :text %><br>
  <%= f.text_field :text %>
  <% if @post.errors.any? %>
  <%= @post.errors.messages[:text][0]  %>
  <% end %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<p>
<% if current_user != nil  %>
  loginUser: <%= current_user.name %>
<% else %>
  you are guest
<% end %>
</p>


