<h1>Posts</h1>
<div class="post">
  <ul class="post__list">
    <% @posts.each do |post| %>
    <li class="post__item">
      <div>
        <span><%= link_to post.id, post_path(post.id) %></span>
        <% if post.user != nil  %>
          <span><%= link_to post.user.name, user_path(post.user.id) %></span>
        <% end %>
        <div class="post__edit">
          <%= link_to "[Edit]", edit_post_path(post.id) %>
          <%= link_to "[x]", post_path(post.id), method: :delete, data: {confirm: "are you sure?"} %>
        </div>
      </div>
      <div class="post-item__text">
        <div><%= post.title %></div>
        <div><%= post.text %></div>
      </div>
    </li>
    <% end %>
  </ul>

  <div>
    <span>投稿</span>
    <% @post = Post.new %>
    <%= render 'form' %>
  </div>

</div>

<p>
  <%= link_to "Add New Post", new_post_path %>
</p>
<p>
  <%= link_to "Add New User", new_user_path %>
</p>

