<%= form_for @user do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <% if @user.errors.any? %>
  <%= @user.errors.messages[:name][0]  %>
  <% end %>
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <% if @user.errors.any? %>
  <%= @user.errors.messages[:password][0]  %>
  <% end %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>


